<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>
    <!-- // Conditional Rendering -->
    <% if (isLogin) { %>
        <p>Welcome back, user!</p>
        <% } %>

            <!-- // Looping through books -->
            <h1>Books</h1>
            <ul>
                <% books.forEach(function(book) { %>
                    <li>
                        <%= book.title %> by <%= book.author %>
                    </li>
                    <% }) %>
            </ul>

</body>

</html>